<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.trito.domain.repository.mybatis.role.RoleRepository">

<!-- ================ 역할 관리 =============== -->

    <!--  total rows  -->
    <select id="CountRoleList" parameterType="kr.co.trito.dto.Mybatis.role.RoleListParamsDto" resultType="int">
        SELECT COUNT(*)
          FROM TP_COM_ROLE
         WHERE 1=1
        <if test="searchOpt != null">
            AND ${searchOpt} LIKE CONCAT(CONCAT('%', #{searchTxt}), '%')
        </if>
        <if test="searchUseYn != null">
            AND USE_YN = #{searchUseYn}
        </if>
    </select>

    <!--  역할 관리 목록 조회  -->
    <select id="getRoleList" parameterType="kr.co.trito.dto.Mybatis.role.RoleParamsDto" resultType="kr.co.trito.dto.Mybatis.role.RoleListDto">
        SELECT *
          FROM(
            SELECT
                  ROWNUM AS rn
                , x.*
            FROM(
                SELECT
                      ROLE_ID
                    , ROLE_NM
                    , ROLE_DESC
                    , USE_YN
                    , UPT_ID
                    , UPT_DATE
                    , REG_ID
                    , REG_DATE
                FROM TP_COM_ROLE
                WHERE 1=1
                <if test="roleListParamsDto.searchOpt != null">
                    AND ${roleListParamsDto.searchOpt} LIKE CONCAT(CONCAT('%', #{roleListParamsDto.searchTxt}), '%')
                </if>
                <if test="roleListParamsDto.searchUseYn != null">
                    AND USE_YN = #{roleListParamsDto.searchUseYn}
                </if>
                <if test="roleListParamsDto.sortBy != null and roleListParamsDto.descending == 'ac'">
                    ORDER BY ${roleListParamsDto.sortBy} ASC
                </if>
                <if test="roleListParamsDto.sortBy != null and roleListParamsDto.descending == 'dc'">
                    ORDER BY ${roleListParamsDto.sortBy} DESC
                </if>
            ) x
          )
        WHERE rn BETWEEN #{condition.start} AND #{condition.end}
    </select>

    <!--  역할 관리 중복 체크  -->
    <select id="checkRoleId" parameterType="string" resultType="int">
        SELECT COUNT(*)
          FROM TP_COM_ROLE
         WHERE ROLE_ID = #{roleId}
    </select>

    <!--  역할 관리 추가  -->
    <insert id="addRole" parameterType="kr.co.trito.dto.Mybatis.role.RoleAddModDto">
        INSERT INTO TP_COM_ROLE
        (
              ROLE_ID
            , ROLE_NM
            , ROLE_DESC
            , USE_YN
            , REG_ID
            , REG_DATE
        )
        VALUES
        (
              #{roleId}
            , #{roleNm}
            , #{roleDesc}
            , #{useYn}
            , 'admin'
            , SYSDATE
        )
    </insert>

    <!--  역할 관리 수정  -->
    <update id="modRole" parameterType="kr.co.trito.dto.Mybatis.role.RoleAddModDto">
        UPDATE TP_COM_ROLE
           SET
                 ROLE_NM = #{roleNm}
               , ROLE_DESC = #{roleDesc}
               , USE_YN = #{useYn}
               , UPT_ID = 'admin2'
               , UPT_DATE = SYSDATE
         WHERE ROLE_ID = #{roleId}
    </update>

    <!--  역할 관리 삭제 -->
    <update id="delRole" parameterType="java.util.List">
        UPDATE TP_COM_ROLE
           SET USE_YN = 'N'
         WHERE ROLE_ID IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </update>

<!-- ================ 사용자 역할 관리 =============== -->

    <!--  사용자 역할 관리 total rows  -->
    <select id="CountUserRoleList" parameterType="kr.co.trito.dto.Mybatis.role.UserRoleListParamsDto" resultType="int">
        SELECT COUNT(*)
          FROM TP_USER_ROLE
         WHERE 1=1
            AND ROLE_ID = #{selectedRoleId}
            <if test="searchTxt != null">
                AND USER_ID LIKE CONCAT(CONCAT('%', #{searchTxt}), '%')
            </if>
            <if test="searchUseYn != null">
                AND USE_YN = #{searchUseYn}
            </if>
    </select>

    <!--  사용자 역할 목록 조회  -->
    <select id="getUserRoleList" parameterType="kr.co.trito.dto.Mybatis.role.UserRoleParamsDto" resultType="kr.co.trito.dto.Mybatis.role.UserRoleListDto">
        SELECT *
        FROM(
            SELECT
                ROWNUM AS rn
                , x.*
            FROM(
                SELECT
                      USER_ID
                    , ROLE_ID
                    , USE_YN
                    , UPT_ID
                    , UPT_DATE
                    , REG_ID
                    , REG_DATE
                FROM TP_USER_ROLE
                WHERE 1=1
                AND ROLE_ID = #{userRoleListParamsDto.selectedRoleId}
                <if test="userRoleListParamsDto.searchTxt != null">
                    AND USER_ID LIKE CONCAT(CONCAT('%', #{userRoleListParamsDto.searchTxt}), '%')
                </if>
                <if test="userRoleListParamsDto.searchUseYn != null">
                    AND USE_YN = #{userRoleListParamsDto.searchUseYn}
                </if>
                <if test="userRoleListParamsDto.sortBy != null and userRoleListParamsDto.descending == 'ac'">
                    ORDER BY ${userRoleListParamsDto.sortBy} ASC
                </if>
                <if test="userRoleListParamsDto.sortBy != null and userRoleListParamsDto.descending == 'dc'">
                    ORDER BY ${userRoleListParamsDto.sortBy} DESC
                </if>
            ) x
        )
        WHERE rn BETWEEN #{condition.start} AND #{condition.end}
    </select>

    <!--  사용자 역할 중복 체크  -->
    <select id="checkUserRoleId" parameterType="kr.co.trito.dto.Mybatis.role.UserRoleAddModDto" resultType="int">
        SELECT COUNT(*)
          FROM TP_USER_ROLE
         WHERE ROLE_ID = #{roleId}
           AND USER_ID = #{userId}
    </select>

    <!--  사용자 역할 추가  -->
    <insert id="addUserRole" parameterType="kr.co.trito.dto.Mybatis.role.UserRoleAddModDto">
        INSERT INTO TP_USER_ROLE
        (
              USER_ID
            , ROLE_ID
            , USE_YN
            , REG_ID
            , REG_DATE
        )
        VALUES
        (
              #{userId}
            , #{roleId}
            , #{useYn}
            , 'admin'
            , SYSDATE
        )
    </insert>

    <!--  사용자 역할 수정  -->
    <update id="modUserRole" parameterType="kr.co.trito.dto.Mybatis.role.UserRoleAddModDto">
        UPDATE TP_USER_ROLE
           SET
                  USE_YN = #{useYn}
                , UPT_ID = 'admin2'
                , UPT_DATE = SYSDATE
         WHERE USER_ID = #{userId}
           AND ROLE_ID = #{roleId}
    </update>

    <!--  사용자 역할 삭제  -->
    <update id="delUserRole" parameterType="object">
        UPDATE TP_USER_ROLE
           SET USE_YN = 'N'
         WHERE ROLE_ID = #{roleId}
           AND USER_ID IN
            <foreach collection="deleteItem" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </update>
</mapper>