<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.trito.domain.repository.mybatis.holiday.HolidayRepository">

    <!--  연차 사용 현황 조회  -->
    <select id="getDayOffData" parameterType="string" resultType="kr.co.trito.dto.Mybatis.holiday.DayOffDtd">
        <![CDATA[
           WITH USED_DAY_OFF AS (
                SELECT A.SAWON_NO, A.START_DT , A.END_DT , A.GUBUN_CD
                      ,CASE WHEN A.GUBUN_CD = 'H001' THEN ( SELECT COUNT(*) FROM TBSY_CALENDAR C WHERE C.YYYYMMDD BETWEEN A.START_DT AND A.END_DT AND IS_HOLIDAY = 'N' )
                            WHEN A.GUBUN_CD = 'H002' THEN ( SELECT COUNT(*) FROM TBSY_CALENDAR C WHERE C.YYYYMMDD BETWEEN A.START_DT AND A.END_DT AND IS_HOLIDAY = 'N' ) * 0.5
                            ELSE 0
                       END USED_DAY_OFF_CNT
                 FROM TBPY_HOLIDAY A
                WHERE START_DT <= TO_CHAR(SYSDATE,'YYYYMMDD')
            )
            , SUM_USED_DAY_OFF AS (
            SELECT SAWON_NO, SUM(USED_DAY_OFF_CNT) USED_DAY_OFF_CNT
              FROM USED_DAY_OFF
             WHERE SUBSTR(START_DT,1,4) = TO_CHAR(SYSDATE,'YYYY')
             GROUP BY SAWON_NO
            )
            , SUM_USED_DAY_OFF2 AS (
            SELECT SAWON_NO, SUM(USED_DAY_OFF_CNT) USED_DAY_OFF_CNT
              FROM USED_DAY_OFF
             WHERE SUBSTR(START_DT,1,4) = TO_CHAR(SYSDATE,'YYYY')
             GROUP BY SAWON_NO
            )
            SELECT NVL(A.DAY_OFF_CNT,0) AS DAY_OFF_CNT
                  ,NVL(B.USED_DAY_OFF_CNT,0) AS USED_DAY_OFF_CNT
                  ,NVL(CASE WHEN A.YEAR_CNT < 1  THEN (A.DAY_OFF_CNT - NVL(C.USED_DAY_OFF_CNT,0))
                                                ELSE (A.DAY_OFF_CNT - NVL(B.USED_DAY_OFF_CNT,0))
                   END,0) REMAIN_DAY_OFF_CNT
            FROM TBSY_DAY_OFF A
                ,SUM_USED_DAY_OFF B
                ,SUM_USED_DAY_OFF2 C
            WHERE A.SAWON_NO  = B.SAWON_NO(+)
              AND A.SAWON_NO  = c.SAWON_NO(+)
              AND A.SAWON_NO = #{sawonNo}
              AND A.YEAR = TO_CHAR(SYSDATE, 'YYYY')
       ]]>
    </select>

    <!--  휴가 목록 조회  -->
    <select id="getHolidayList" parameterType="kr.co.trito.dto.Mybatis.holiday.HolidayGetDto"
            resultType="kr.co.trito.dto.Mybatis.holiday.HolidayDto">
        SELECT
              s.SAWON_NM
            , d.DEPT_NM
            , h.START_DT
            , h.END_DT
            , h.CAUSE
            , c.NAME AS GUBUN_CD
        FROM
              TBPY_HOLIDAY h
            , TBSY_SAWON_INFO s
            , TBSY_DEPT d
            , TBSY_CODE c
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="searchQuery == ''">
                h.SAWON_NO = #{sawonNo}
            </if>
            <if test="searchQuery != ''">
                s.SAWON_NM LIKE CONCAT('%', CONCAT(#{searchQuery}, '%'))
            </if>
            AND SUBSTR(h.START_DT, 1, 4) = #{year}
            AND SUBSTR(h.END_DT, 1, 4) = #{year}
            AND h.SAWON_NO = s.SAWON_NO
            AND s.DEPT_CD = d.DEPT_CD
            AND c.GROUP_CD = 'SY005'
            AND h.GUBUN_CD = c.CODE
        </trim>
        ORDER BY h.START_DT
        , h.END_DT
        , s.SAWON_NM
        , d.DEPT_NM
    </select>

    <!--  휴가 중복 검사  -->
    <select id="checkHoliday" parameterType="kr.co.trito.dto.Mybatis.holiday.HolidayRegDto" resultType="_int">
        <![CDATA[
            SELECT count(*)
            FROM (
                SELECT * FROM TBPY_HOLIDAY
                WHERE SAWON_NO = #{sawonNo}
                AND START_DT LIKE CONCAT(SUBSTR(#{startDt}, 1, 4), '%')
            )
            WHERE START_DT <= #{startDt}
            AND END_DT >= #{startDt}
        ]]>
    </select>

    <!--  휴가 등록  -->
    <insert id="regHoliday" parameterType="kr.co.trito.dto.Mybatis.holiday.HolidayRegDto">
        INSERT INTO TBPY_HOLIDAY h
        ("SAWON_NO", "START_DT", "END_DT", "CAUSE", "REG_ID", "REG_DT", "GUBUN_CD")
        VALUES (
        #{sawonNo}, #{startDt}, #{endDt}, #{cause}, #{sawonNo}, SYSDATE, #{gubunCd}
        )
    </insert>

    <!--  달력 데이터 조회  -->
    <select id="getCalendarData" parameterType="kr.co.trito.dto.Mybatis.holiday.HolidayGetDto"
            resultType="kr.co.trito.dto.Mybatis.holiday.HolidayCalendar">
        SELECT
              s.SAWON_NM
            , h.START_DT
            , h.GUBUN_CD
        FROM
              TBPY_HOLIDAY h
            , TBSY_SAWON_INFO s
        WHERE h.SAWON_NO = s.SAWON_NO
          AND s.DEPT_CD =
                (
                    SELECT DEPT_CD
                    FROM TBSY_SAWON_INFO
                    WHERE SAWON_NO = #{sawonNo}
                )
          AND SUBSTR(h.START_DT, 1, 4) = #{year}
    </select>
</mapper>